@import url(general.css);

#principal{
    height: auto;
    width: 485px;
}

#close{
    position: relative;
    left: 420px;
    bottom: -20px;
    z-index: 1;
}

h1{
    position: relative;
    margin-top: -55px;
}


#addContact img, #editContact img{
    position: relative;
    left: 25px;
    bottom: 20px; 
    z-index: 2;
}

form{
    position: relative;
    left: 25px;
    font-size: 26px;
    line-height: 45px;
}

label{
    color: #212121;
    display: inline-block;
    float: left;
    clear: left;
    width: 140px;
    text-align: left;
}
input{
    margin-top: 5px;
    background-color : #ffe6ac; 
    display: inline-block;
    float: left;
}

.info{
    width: 220px;
    height: 25px;
    border: 1px solid; 
}

.button{
    position: relative;
    left: 250px;
    bottom: 0px;
    background-color: #1b424b;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #212121;
    height: 38px;
    width: 80px;
    border-radius: 5px;
}

#divider{
    position: relative;
    left: 7px;
    width:50px;
    height:auto;
    display:inline-block;
}

div{
    display: table;
}