.rTable {
display: table;
text-align: center;
}
.rTableRow {
display: table-row;
}
.rTableHeading {
	display: table-header-group;
	background-color: #ddd;
}
.rTableCell, .rTableHead {
	display: table-cell;
	padding: 3px 10px;
	border: 1px solid #999999;
}

.rTableHead{
	font-weight: bold;
}

.rTableHeading {
	display: table-header-group;
	background-color: #ddd;
	font-weight: bold;
}
.rTableFoot {
	display: table-footer-group;
	font-weight: bold;
	background-color: #ddd;
}
.rTableBody {
	display: table-row-group;
}