@import url(general.css);

#principal{
    height: 167px;
    width: 272px;
    border: 1px solid #000000;
}

#close{
    position: relative;
    left: 245px;
    
}

#question{
    text-align: center;
    font-size: 18px;
    color: #324076;
    font-weight: bold;
}

#yes{
    position: relative;
    left: 55px;
    top: 30px;
}

#no{
    position: relative;
    left: 140px;
    top: -20px;

}