#principal{
    height: 568px;
    width: 485px;
}

#close{
    position: relative;
    left: 420px;
    bottom: -20px;
}

h1{
    position: relative;
    margin-top: -55px;
}

#editContact img{
    position: relative;
    left: 25px;
    bottom: 20px; 
}

form{
    position: relative;
    left: 25px;
    font-size: 26px;
    line-height: 45px;
}

label{
    color: #212121;
    display: inline-block;
    float: left;
    clear: left;
    width: 140px;
    text-align: left;
}

input{
    margin-top: 5px;
    background-color : #ffe6ac; 
    display: inline-block;
    float: left;
}

.info{
    width: 220px;
    height: 25px;
    border: 1px solid; 
}