@import url(general.css);

body {
    font-family: Helvetica, Sans-Serif;
    background: linear-gradient(#866519,#94742C);
    background-size: cover;
}

h1{
    color: #324076;
    padding-left: 25px;
    padding-top: 36px;
}
p{

}

#principal{
    background: linear-gradient(#6f98a2,#275f6c);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}




/* Main table */

/*
td:first-child {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding: 10px;
}
 
td:nth-child(2), td:nth-child(3), td:nth-child(4) {
    padding: 10px;
}
 
td {
    padding: 15px;
    margin: 15px;
    border: 1px solid #ddd;
}
*/

/* Calendario*/