@import url(general.css);

#principal{
    height: 599px;
    width: 552px;
}

#username{
    position: relative;
    left: 150px;
    top: 30px;
}

#username img{
    position: relative;
    bottom: 76px;
    left: 2px;
    border-radius: 50%;
    background-color: #1b424b;
    height: 76px;
    width: 85px;  
}

#password{
    position: relative;
    left: 150px;
    bottom: 25px;
}


#password img{
    position: relative;
    bottom: 94px;
    left: 3px;
    border-radius: 50%;
    background-color: #1b424b;
    height: 76px;
    width: 85px;
}

input{
    text-align: center;
    padding-left: 50px;
    border-radius: 25px;
    width: 225px;
    height: 71px;
    background-color: #ffe6ac;
}

.infoUser{
    font-size: 24px;
    color: #404040;
}


.enter{
    text-align: center;
    padding-left: 10px;
    position: relative;
    left: 240px;
    bottom: 100px;
    background-color: #1b424b;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #212121;
    height: 40px;
    width: 120px;
    border-radius: 5px;
}
#RegLost{
    position: relative;
    left: 150px;
    bottom:85px;
    font-size: 14px
}

#divider{
    position: relative;
    left: 85px;
    width:50px;
    height:auto;
    display:inline-block;
}

.description{
    position: relative;
    left: 57px;
    width: 450px;
    font-size: 14px;
    bottom: 80px;
    color: #ffffff;
    
}

.description p, li{
     font-size: 14px;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'View more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'View less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: white;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #212121;
  background-color: #1b424b;
  font-weight: bold;
  border-radius: .25em;
}

/* Other style */ 
body {
  padding: 2%;
}

p {
  padding: 2%;
  background: linear-gradient(#6f98a2,#275f6c);
  color: #ffffff;
  border-radius: .25em;
}


