@import url(general.css);



#principal{
    height: auto;
    width: 768px;
}

#menuTop{
    position: relative;
    left: 660px;
    bottom: 80px;
    width: 100px;
}

.displayUser{
    position: relative;
    left: 550px;
    top: -170px;
    color: #ffffff;
    font-size: 14px;
    bottom: 138px;

}


#addContact{
    position: relative;
    left: 25px;
    bottom: 30px;
    background-color: #ffe6ac;
    border-radius: 25px;
    height: 44px;
    width: 180px;
}

#addContact img{
    border-radius: 50%;
    background-color: #1b424b;
    height: 44px;
    width: 44px;
}

a.noUnderline {text-decoration: none; }

.textAdd {
    text-decoration: none;
    position: relative;
    left: 10px;
    bottom: 15px;  
    font-size: 18px;
    color: #212121;
}

#search{
    border-radius: 25px;
    position: relative;
    left: 610px;
    bottom: 73px;
    background-color: #ffe6ac;
    height:44px;
    width:137px;
}

.textSearch {
    text-decoration: none;
    position: relative;
    left: 650px;
    bottom: 105px; 
    font-size: 18px;
    color: #212121;
}

#search img{
    background-color: #1b424b;
    border-radius: 50%;
    height: 44px;
    width: 32px;
}
.change {
    background-color: #000000;
}

#table-wrapper {
    position:relative;
    left: 70px;
    bottom: 20px;
}

#table-scroll {
    height:auto;
    margin-top:20px;
}

#table-wrapper table {
    position: relative;
    left: 0px;
    width: 630px;
    /*width:100%;*/

}

#table-wrapper table * {
    background-color: #324076;
    color:#ffffff;
}

#table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
}

#form{
    padding-left: 25px;
}